workflows/n8n-Promppt vers modele local.json
{
  "nodes": [
    {
      "id": "1",
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "id": "2",
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Explique le fonctionnement de n8n en une phrase."
            }
          ]
        },
        "options": {}
      },
      "name": "Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "id": "3",
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"model\": \"mistral\",\n  \"prompt\": \"{{$json[\"prompt\"]}}\",\n  \"stream\": false\n}"
      },
      "name": "Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "id": "4",
      "parameters": {
        "functionCode": "return [{\n  json: {\n    reponse: $json.response\n  }\n}];"
      },
      "name": "Résultat",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [950, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "main": [
        [
          {
            "node": "Résultat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "name": "Prompt vers Ollama",
  "tags": []
}
